<div class="register-container">


<!-- Display error or success messages -->
<p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
<p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>

<form (ngSubmit)="register()" #registerForm="ngForm">
  <p class="title">Register </p>
  <label for="firstname">
    <span>First Name</span>
  <input
    type="text"
    id="firstname"
    [(ngModel)]="firstname"
    name="firstname"
    required
  />

</label>
  <label for="lastname">
  <span>Last Name</span>

  <input
    type="text"
    id="lastname"
    [(ngModel)]="lastname"
    name="lastname"
    required
  />
</label>
  <label for="username">
    <span>Username</span>
  <input
    type="text"
    id="username"
    [(ngModel)]="username"
    name="username"
    required
  />

</label>
  <label for="password">
    <span>Password</span>
  <input
    type="password"
    id="password"
    [(ngModel)]="password"
    name="password"
    required
  />

</label>
  <label for="confirmPassword">
    <span>Confirm Password</span>
  <input
    type="password"
    id="confirmPassword"
    [(ngModel)]="confirmPassword"
    name="confirmPassword"
    required
  />

</label>
  <!-- Apply the 'submit-button' class to style the button -->
  <button type="submit" class="submit-button">Register</button>
</form>

<!-- Sign In Link -->

</div>
